<div class="container">
    <div class="row">
        <div class="Search-hero">
            <input type="text" name="search" [(ngModel)]="searchText" placeholder="Cherchez par nom">
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom de la station</th>
                    <th>Ascenseur</th>
                    <th>Escalator</th>
                    <th>Borne d'appel</th>
                    <th>Porte palière</th>
                    <th>N°de la ligne</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let station of stations | filter:searchText">
                    <td>{{station.id}}</td>
                    <td>{{station.name}}</td>
                    <td>{{station.lift}}<img src="assets/images/ok1.png" alt="borne=Oui"></td>
                    <td>{{station.escalator}}<img src="assets/images/ok1.png" alt="borne=Oui"></td>
                    <td>{{station.callterminal}}<img src="assets/images/ok1.png" alt="borne=Oui"></td>
                    <td>{{station.porte}}<img src="assets/images/ok1.png" alt="borne=Oui"></td>
                    <td>{{station.line}}<img src="assets/images/14.png" alt="ligne image"></td>
                    

 

                </tr>
                
                <tr *ngFor="let station of stations1 | filter:searchText">
                <td>{{station.id}}</td>
                <td>{{station.name}}</td>
                <td>{{station.lift}}<img src="assets/images/nonConf.png" alt="ligne image"></td>
                <td>{{station.escalator}}<img src="assets/images/nonConf.png" alt="ligne image"></td>
                <td>{{station.callTerminal}}<img src="assets/images/ok1.png" alt="ligne image"></td>
                <td>{{station.porte}}<img src="assets/images/nonConf.png" alt="ligne image"></td>
                <td>{{station.line}}<img src="assets/images/M7.png" alt="ligne image"></td>





                </tr>
                
            </tbody>
        </table>
    </div>
</div>