<div class="container">
    <div class="row">
        <div class="Search-hero">
            <input type="text" name="search" [(ngModel)]="searchText" placeholder="Filtrer par nom">
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom de la station</th>
                    <th>Ascenseur</th>
                    <th>Escalator</th>
                    <th>Borne d'appel</th>
                    <th>Porte palière</th>
                    <th>N°de la ligne</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let station of listStations | filter:searchText">
                    <td>{{station.name}}</td>

                    <td><img src="assets/images/{{station.lift}}.png" alt="ligne image">
                    </td>
                    <td><img src="assets/images/{{station.escalator}}.png" alt="ligne image">
                    </td>
                    <td><img src="assets/images/{{station.callTerminal}}.png" alt="ligne image">
                    </td>
                    <td><img src="assets/images/{{station.lineLandingDoor}}.png" alt="ligne image">
                    </td>

                    <td><img src="assets/images/M{{station.lineNumber}}.png" alt="lineNumber"></td>


            </tbody>
        </table>
    </div>
</div>