img{
    height: 40px;
}

.clickable{
    cursor: pointer;
    background-color: aqua;
}
i{
    background-color: black;
}

button{
        border: 3px blue dashed;
        background-color:rgba(192, 255, 209, 0.311);

}