
<h1>Liste de mes stations</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Lift</th>
            <th>Escalator</th>
            <th>Call terminal</th>
            

            
            <th></th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let station of listStations">
             <td>{{ station.name }}

             </td>

            <td><img src="assets/images/{{station.lift}}.png" alt="ligne image">
            </td>
            <td><img src="assets/images/{{station.escalator}}.png" alt="ligne image">
            </td>
            <td><img src="assets/images/{{station.callTerminal}}.png" alt="ligne image">
            </td>
             
            
            <td>
                <button class="btn btn-warning" routerLink="/admin-update/{{station.id}}">Update</button>
            </td>
              
        </tr>
    </tbody>
</table>