<H1>Listes de mes lines</H1>

<label for="line-select">Choisissez la ligne:</label>


                
                <select name="lines" id="line-select">
                    <option value="">--Choisissez une option--</option>
                    <option value="1">Ligne 1</option>
                    <option value="2">Ligne 2</option>
                    <option value="3">Ligne 3</option>
                    <option value="4">Ligne 4</option>
                    <option value="5">Ligne 5</option>
                    <option value="6">Ligne 6</option>
                    <option value="7">Ligne 7</option>
                    <option value="8">Ligne 8</option>
                    <option value="9">Ligne 9</option>
                    <option value="10">Ligne 10</option>
                    <option value="11">Ligne 11</option>
                    <option value="12">Ligne 12</option>
                    <option value="13">Ligne 13</option>
                    <option value="14">Ligne 14</option>
                </select>

 